a{
            font-size: 27px;
            text-align: center;
            text-decoration: none;
            color: black;
            font-family: monospace;
    }
button{
        background-color: #5cc;
        border: none;
        color: white;
        padding: 5px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        border:solid;
        border-color: #5cc;
        box-shadow:4px 4px 4px 4px #3cc;
        font-weight: bold;                                                                                                        
        border-radius: 5px;
        -moz-box-shadow: -5px 30px 1px 5px #33cccc;
        box-shadow: -5px 5px 1px 5px #49b5b8;
    }
select{
        text-decoration: none;
        border-radius: 5px;
        border: none;
        font-size: 20px;
        -webkit-appearance:none;
        -moz-appearance:none;
        -o-appearance:none;
        width: 95px;
        height: 30px;
        background-color: #33cc66;
        margin-left:5px;
        text-align:center;
        color: #fff;
        overflow: hidden;
        background:no-repeat right #33cc66;
        border: 1px solid #ccc;
    }
.fiel{
        border-radius: 10%;
        width: 25%;
        height: 350px !important;
        border-spacing: 10%;
        background-color: white;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); 
        border:none;
        margin-right: 470px;
        float: right;
    }
label{
        font-size: 30px;
        font-family: monospace;
    }
#cx1{
        width: 364px;
        height: 100px;
        background-color: black;
        color:white;
        font-size: 85px;
        border-radius: 5%;
        font-style:Impact, fantasy;
        font-weight:bold; 
        float: left;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 17px;
        margin-left: -2px;
        margin-top: 1px;
    }
#cx2{
        width: 190px;
        height: 94px;
        border:solid;
        background-color:white;
        color:black;
        font-size: 85px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 0px;
        font-style:Impact, fantasy;
        font-weight:bold; 
        float: right;
        margin-left: -190px !important;
        margin-top: 1px;
    }
.calibrar{
        font-size: 45px;
        font-family: monospace;
    }
#cx3{
        margin-top: 100px;
        padding: -1px;
        border-radius: 10px;
        box-shadow: -13px 13px 0px 0px #2f2f2f; 
        height: 100px;
        margin-left: -60px;
        width: 540px;
        border-top-left-radius: 23px;
        border-bottom-right-radius: 20px;
    }
table{
        width: 600px;
        height: 690px;
        margin-left: 0px;
        border: 3px solid black;
        background-color: white;
        margin-top: 44px;
        position: relative;
        float: left;
    }
tr{
        border: 3px solid black;
    }
td{
        border: 3px solid black;
    }
.div{
        float: right;
        border-radius: 5%;
        width: 430px;
        height: 410px !important;
        margin-right: -430px;
        position: relative;
        background-color:#ffffff;
        margin-top: 130px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); 
    }
.close{
        width: 430px;
        height: 85px;
        position: relative;
        background-color:#000000;
        color: white;
        text-align: center;
        font-family: monospace;
        font-size: 20px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        float: right;
        margin-top: 45px;
        margin-right: 200px;
    }
.botao{
        float: right;
        width: 10px;
    }            
.menu {
        width:270px;
        height: 350px;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:5px;
        background:white;
        display:none;
        text-shadow:0px 1px 0px black;
        color:black;
        transition:color linear 0.10s;
        position:fixed;
        top: 300px;
        z-index: 9999;
        margin-right: 50px;
        text-align: right;
        margin-top: -150px;
}
.cent-btn{
        margin-left: 40px !important;
        background-color: #5cc;
        border: none;
        color: white;
        padding: 5px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        border:solid;
        border-color: #5cc;
        box-shadow:4px 4px 4px 4px #3cc;
        font-weight: bold;
        border-radius: 5px;
        -moz-box-shadow: -5px 30px 1px 5px #33cccc;
        box-shadow: -5px 5px 1px 5px #49b5b8;
}
button:active{
        background-color: grey;
}
button:hover {
        color: grey;
}
.d{
        padding: 2px;
        border-radius: 10px;
        box-shadow: -1px 12px 0px 5px ; 
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        width: 40px;
        height: 195px; 
        float: left;
        margin-top: 517px;
        margin-left: -45px;
    }
.e{
        width: 120px;
        height: 40px;
        border:solid black;
        background-color:black;
        color:white;
        font-size: 30px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        font-style:Impact, fantasy;
        font-weight:bold; 
        float: left;
        transform: rotate(-90deg);
        margin-top: 122px;
        margin-left: -42px;
    }
.f{
        width: 77px;
        height: 44px;
        background-color: white;
        color:black;
        font-size: 30px;
        border-radius: 5%;
        font-style:Impact, fantasy;
        font-weight:bold; 
        float: left;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        transform: rotate(-90deg);
        margin-top: -147px;
        margin-left: -19px;
}
.btn-menu{
        width: 140px;
        height: 60px;
        float: left;
        cursor: pointer;
        color: white;
        background-color: black;
        transform: rotate(-90deg);
        margin-left: -53px;
        margin-top: 88px;
        text-align: center;
        border-color: black;
        box-shadow: 0px 0px 0px 0px ; 
        font-size: 25px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0px; 
        border-bottom-left-radius: 15px;

}
.cabecalho{
        width: 100%;
        float: center;
        padding: 3% 4%;        
}
.btn-close{
        font-size: 3em;
        cursor: pointer;
        color: white;
}
.circle{
        border-radius:100%;
        border:4px solid #ad3333;
        width:45px;
        height:45px;
        background-color:#ff3333;
        float: right;
}
.body
{
        background-image: url("../imagens/fundo.svg");
        background-color: #fff;
}
h1{
        font-size: 40px;
}
.me{
        display: block;
        margin-top: 12px;
        float: left;
        margin-left: -25px;
}
.carrinho
{
        transform: rotate(-300deg);
        margin-top: 200px;
        float: left;
        overflow: hidden;
        margin-left: 100px
}
.play{
        float: right;
        margin-right: -410px;
        margin-top: 580px; 
}
.lixo{
        float: right;
        margin-right: 50px; 
        margin-top: 350px; 
}
.audio{
        float: right;
        margin-right: -180px;
        margin-top: 663px; 
}
.audio2{
        float: right;
        margin-right: -180px;
        margin-top: 620px; 
}
.ajuda{
        float: right;
        margin-right: -250px;
        margin-top: 660px; 
}
.basico{
        transform: rotate(-90deg);
        float: left;
        margin-left: -120px;
        height: 28px;
        color: black;
        background-color: white;
        box-shadow: 0px 0px 1px 1px;
        border-radius: 5px;
        margin-top: 230px;
        width: 110px;
        font-size: 20px;
}
.medio{
        transform: rotate(-90deg);
        float: left;
        margin-left: -150px;
        height: 28px;
        color: black;
        background-color: white;
        box-shadow: 0px 0px 1px 1px;
        border-radius: 5px;
        margin-top: 260px;
        width: 170px;
        font-size: 20px;
        }
.avançado{
        transform: rotate(-90deg);
        float: left;
        margin-left: -130px;
        height: 28px;
        color: black;
        background-color: white;
        box-shadow: 0px 0px 1px 1px;
        border-radius: 5px;
        margin-top: 240px;
        width: 130px;
        font-size: 20px;
    }
.btn{
        font-family: arial;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        border: none;
        padding: 10px;
        cursor: pointer;
}
.b-green{
        background:#00FFFF;
        color: #00FFFF;
        box-shadow: 0 5px 0 #006000;    
}
.button-type {
        background-color:#00EEEE;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: left;
        float: left; ;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        margin-left: 61%; 
}
.h1center{
        text-align: center;
}       
.box{
        width:600px;
        height:450px;
        background-color:white;
        border-radius: 10px;
        margin-top: 150px;
    }
.sombraclara{
        width: 200px;
        padding: 30px;
        background-color: #999;
        color: #fff;  
        box-shadow: 2px 2px 2px #ffc;
        -webkit-box-shadow: 2px 2px 2px #ffc;
        -moz-box-shadow: 2px 2px 2px #ffc;
}
.sb{
        width: 490px;
        height: 100px;
        background-color: black;
        color: white;
        font-size: 75px;
        border-radius: 5%;
        font-style: Impact, fantasy;
        font-weight: bold;
        float: left;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 17px; 
        border-bottom-left-radius: 15px;
        margin-left: 80px;
        margin-top: 400px;
        margin-top: -140px !important;
        padding: 1px;
        box-shadow: -11px 12px 0px 0px #2f2f2f;
        height: 100px;
        margin-left: 70px;
        width: 540px;
        border-top-left-radius: 23px;
        border-bottom-right-radius: 20px;
}
.b-green{
        background:#00FFFF;
        color: #00FFFF;
        box-shadow: 0 5px 0 #006000;   
        }
.button-type {
        background-color:#33cccc;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: left;
        float: left; ;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        margin-left: 61%; 
        }
.tex{
        line-height: 50px;
        }
.box{
        width:600px;
        height:450px;
        background-color:white;
        border-radius: 10px;
        margin-top: 150px;
    }
.sb{
        width: 490px;
        height: 100px;
        background-color: black;
        color: white;
        font-size: 75px;
        border-radius: 5%;
        font-style: Impact, fantasy;
        font-weight: bold;
        float: left;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 17px; 
        border-bottom-left-radius: 15px;
        margin-left: 100px;
        margin-top: 400px;
        margin-top: -140px !important;
        padding: 1px;
        box-shadow: -11px 12px 0px 0px #2f2f2f;
        height: 100px;
        margin-left: 40px;
        width: 540px;
        border-top-left-radius: 23px;
        border-bottom-right-radius: 20px;
}
.line{
        float: left;
        margin-left: 320px;  
}
 #img1{
        background-color:#316cd7;
        width:45px;
        height:45px;
        border-radius: 10px; 
        border:solid -2px;
        box-shadow: 2px 2px 2px 2px #142b56;
  }
#im1{
        display: block;
        margin-top: auto;
}
.svg{
        margin-top: 6px;
        transform: rotate(-90deg);
}
.img2{
        margin-top: 6px;
        transform: rotate(-180deg);
}
.img3{
        margin-top: 6px;
        transform: rotate(-360deg);
}
.top{
    margin-top: 8px;
}
.ab{
        margin-left: 5px;
        margin-top: -0px;
}
.bc{
        margin-left: 60px;
        margin-top: -45px;

}
.cd{
        margin-left: 115px;
        margin-top: -45px;
}
#img4{
        background-color: #e88520;
        border-radius: 10px; 
        width:45px;
        height:45px;
        border:solid -2px;
        box-shadow: 2px 2px 2px 2px #8b5013;
  }
.de{
        margin-left: 170px;
        margin-top: -45px;
}
#img5{
        background-color:#64368f;
        border-radius: 10px; 
        width:45px;
        height:45px;
        border:solid -2px;
        box-shadow: 2px 2px 2px 2px #2e1942;
}
#im5{
        display: block;
        margin: auto;
}   
.ef{
        margin-left: 225px;
        margin-top: -45px;
}
#img6{
        background-color:#8b2981;
        border-radius: 10px; 
        width:45px;
        height:45px;
        border:solid -2px;
        box-shadow: 2px 2px 2px 2px #40133b;
  }
#im6{
        display: block;
        margin: auto;
    }
.fg{
        margin-left: 277px;
        margin-top: -45px;

}
.img6{
        margin-top: 7px;
}
.gh{
       margin-left:330px;
       margin-top: -45px;
    }
#img8{
        background-color:#1f468b;
        border-radius: 10px; 
        width:45px;
        height:45px;
        border:solid -2px;
        box-shadow: 2px 2px 2px 2px #0e2040;
  }
#im8{
      display: block;
      margin: auto;
}
.hi{
  
       margin-left:380px;
       margin-top: -45px;: 
}